





*{
    margin: 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    margin-left:120px;
    border-radius: 30px;
    margin-top:10px;
    padding: 1%;
    width:80%;
}

.text-center{
    text-align: center;
}

.clearfix{
         float: none;
         clear: both;
}

.tbl-full{
    width: 100%;
    white-space: normal;
}
.tbl-30{
    width: 30%;
}

table tr th{
          border-bottom: 1px solid black;
          padding: 1%;
          text-align: left;
}

table tr td{
    padding: 1%;
}
.btn{
    font-size: 25px;
    color:black;
    background-color: #b2b4b6a9;
    border:2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 50px;
    width: 280px;
}
.btn-primary{
    background-color: #1e90ff;
    border-radius: 30px;
    width:100px;
    height: 30px;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
         background-color: #3742fa;
}

.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
         background-color: #2ed573;
}

.btn-danger{
    background-color: #e09c9c;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
         background-color: #ff4757;
}

.success{
        color: #2ed573;
}
.error{
    color: #ff4757;
}



.menu{
        border-bottom: 1px solid grey;
}  
ul{ 
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    height:50px;
    width: 600px;
    display: inline-block;
    background-color: #ffffffab;
    border-radius: 30px;
} 
li{ 
    position: relative;
    margin: 0;
    top:15px;
}
.menu ul{
    list-style-type: none;

}
.list{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}
.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
      text-decoration: none;
      font-weight: bold;
      color: #0c0c0c;
}
.menu ul li a:hover{
      color: #ff4757;
}


.main-content{  
        background-color: #c0baba;
        padding: 3% 0%;
}

.col-4{
        border: 2px solid black;
         width: 18%;
         border-radius: 30px;
         background-color: white;
         margin: 1%;
         padding: 2%;
         float: left;
         }



.footer{
    background-color: #ff4757;
    color:white;
}

.login{
    top:50px;
    position: relative;
    background-color: #c0c2c45b;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    width: 20%;
    margin: 5% auto;
    padding: 2%;
}